extends ./layout

block content
  .row
    .col-xs-8.col-sm-8.col-md-8.col-lg-8
        .jumbotron
            .container
                h1 Bienvenue sur mon portefolio !
                p
                  h4 Présentation 
                  p
                  | Je suis actuellement en BTS Services Informatiques aux Organisations option SLAM(Solutions logicielles et applications métier). Je présenterais ici les différents projets effectués au sein du lycée ainsi que ceux effectués pendant les stages en entreprise. 
                  | J’effectue mes deux années de BTS au lycée Aristide Bergès à Seyssinet-Pariset. 
                  h4
                  | Le BTS SIO 
                  p
                  | Le nouveau BTS SIO (Services Informatiques aux Organisations), créé à la rentrée 2011, remplace le BTS Informatique de Gestion. 
                  p
                  | Il forme les étudiants à la mise en place de solutions informatiques au sein des entreprises et comprend 2 options : la spécialité SISR « solutions d’infrastructure, systèmes et réseaux » et la spécialité SLAM « solutions logicielles et applications métiers ».
                p
                  a(href="#").btn.btn-primary.btn-large Voir mon parcours